# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mdowgalvrqyhsekibzbe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Resend
RESEND_API_KEY=your_resend_api_key_here

# Admin emails
ADMIN_EMAIL_1=noam@thewitnessapp.com
ADMIN_EMAIL_2=contact@thewitnessapp.com

# Site
NEXT_PUBLIC_SITE_URL=https://thewitnessapp.com
